<div class="m-5 rounded-lg bg-white p-5 shadow-xl">
  <div class="flex flex-col items-center justify-between lg:flex-row">
    <img src="https://m.media-amazon.com/images/I/71+YcLO29uL.jpg" class="h-20 items-center" alt="Tailwind Play" />
    <div class="flex flex-row">
      <label class="px-2 font-semibold"><%= t("activerecord.attributes.book.name") %>:</label>
      <%= book.name %>
    </div>
    <div class="flex flex-row">
      <label class="px-2 font-semibold"><%= t("activerecord.attributes.book.author") %>:</label>
      <%= book.author %>
    </div>
    <div class="flex flex-row">
      <label class="px-2 font-semibold"><%= t("activerecord.attributes.book.page_quantity") %>:</label>
      <%= book.page_quantity %>
    </div>
    <a class="underline hover:cursor-pointer hover:text-blue-400"><%= t("view") %></a>
  </div>
</div>
