<%= render Structures::NavBarComponent.new %>
<div class="flex w-screen flex-col bg-orange-100">
  <h1 class="my-5 flex justify-center text-2xl font-semibold text-amber-900"><%= t("index.list_book") %></h1>
  <div class="flex justify-end">
    <%= link_to t("index.add_book"), new_book_path, class: "mx-5 flex w-2/12 items-center justify-center rounded-md border bg-amber-900 py-2 text-white" %>
  </div>
  <% @books.each do |book| %>
    <div class="m-5 rounded-lg bg-white p-5 shadow-xl">
      <div class="flex flex-col items-center justify-between lg:flex-row">
        <img src="https://m.media-amazon.com/images/I/71+YcLO29uL.jpg" class="h-20 items-center" alt="Tailwind Play" />
        <div class="flex flex-row">
          <label class="px-2 font-semibold"><%= t("activerecord.attributes.book.name") %>:</label>
          <%= book.name %>
        </div>
        <div class="flex flex-row">
          <label class="px-2 font-semibold"><%= t("activerecord.attributes.book.author") %>:</label>
          <%= book.author %>
        </div>
        <div class="flex flex-row">
          <label class="px-2 font-semibold"><%= t("activerecord.attributes.book.page_quantity") %>:</label>
          <%= book.page_quantity %>
        </div>
        <a class="underline hover:cursor-pointer hover:text-blue-400"><%= t("index.view") %></a>
      </div>
    </div>
  <% end %>
</div>
